In [134]:
# TODO: Fix use of arrays in the dictionaries to just values

import pandas as pd
import numpy as np
import requests
from requests import get
from bs4 import BeautifulSoup
import os.path
import re
from datetime import datetime
import time
import concurrent.futures
import urllib.request
import ast
from stem import Signal
from stem.control import Controller
from os import listdir
from os.path import isfile, join

In [135]:
def get_tor_session():
    session = requests.session()
    # Tor uses the 9050 port as the default socks port
    session.proxies = {'http':  'socks5://127.0.0.1:9050',
                       'https': 'socks5://127.0.0.1:9050'}
    return session

def renew_connection():
    with Controller.from_port(port = 9051) as controller:
        controller.authenticate(password="password")
        controller.signal(Signal.NEWNYM)

In [136]:
if os.path.exists('./filtered_movies.pkl'):
    movies = pd.read_pickle("./filtered_movies.pkl")
else:
    title_basics = pd.read_csv("data/title.basics.tsv", sep='\t')
    movies = title_basics[title_basics.titleType == 'movie']
    movies.to_pickle("./filtered_movies.pkl")
movies.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [137]:
len(movies)

534354

In [138]:
def get_data(session, url):
    scraped_data = {
    "tconst": [],
    "stars": [],
    "oscarWins": [],
    "nominations": [],
    "wins": [],
    "releaseDate": [],
    "releaseCountry": [],
    "plotKeywords": [],
    "budget": [],
    "worldwideGross": [],
    "metascore": [],
    "musicProducer": []
    }
    
    info=[]
    
    try:
        r = session.get(url)
        r.raise_for_status()
    except requests.exceptions.HTTPError as err:
        print(err)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    
    #tconst
    tconst=url.rsplit('/', 1)[-1]
    scraped_data['tconst'].append(tconst)
    
    
    with open("./ScrapedPages/tor/{0}.html".format(tconst), "w") as text_file:
        text_file.write(page_body)
        
    # Stars
    stars = []
    stars_h4 = soup.find('h4', string='Stars:')
    if stars_h4 is not None:
        star_atags_parent = stars_h4.parent
        if star_atags_parent is not None:
            star_atags = star_atags_parent.find_all('a')
            if star_atags is not None:
                for atag in star_atags:
                    if atag['href'].startswith('/name/'):
                        stars.append(atag['href'].split('/')[2])
    else:
        stars_h4 = soup.find('h4', string='Star:')
        if stars_h4 is not None:
            star_atags_parent = stars_h4.parent
            if star_atags_parent is not None:
                star_atags = star_atags_parent.find_all('a')
                if star_atags is not None:
                    for atag in star_atags:
                        if atag['href'].startswith('/name/'):
                            stars.append(atag['href'].split('/')[2])
    scraped_data['stars'].append(stars)
    
    
    # Metascore
    metascore = None
    metascore_list = soup.select('.metacriticScore span:first-child')
    if len(metascore_list) > 0:
        metascore = metascore_list[0].string
        
    scraped_data['metascore'].append(metascore if metascore is None else str(metascore))
    
    
    #awards
    awrds_lines = soup.find_all(class_="awards-blurb")
    oscars = 0
    wins = 0
    nominations = 0
    for line in awrds_lines:
        
        if line.findChild() is not None:
            prepped_str = re.sub(' +', ' ', line.findChild().text.replace("\n", " ").strip())
            res = re.search('(W|w)on (\d+) (O|o)scars.?', prepped_str)
            if res is not None:
                oscars = int(res.group(2))
            
        else:
            prepped_str = re.sub(' +', ' ', line.text.replace("\n", "").strip())
            
            res = re.search('(\d+) wins', prepped_str)
            if res is not None:
                wins = int(res.group(1))
            
            
            res = re.search('(\d+) nominations', prepped_str)
            if res is not None:
                nominations = int(res.group(1))
    scraped_data['oscarWins'].append(oscars)
    scraped_data['wins'].append(wins)
    scraped_data['nominations'].append(nominations)
    
    
    # Release date
    release_date_h4 = soup.find('h4', string='Release Date:')
    release_date = None
    release_country = None
    if release_date_h4 is not None:
        release_date_raw_text = release_date_h4.parent.findAll(text=True, recursive=False)
        release_date_prepped = re.sub(' +', ' ', ''.join(release_date_raw_text).replace("\n", "").strip())
        date_str_match = re.search(r'\d{1,2} \w+ \d{4}', release_date_prepped)
        if date_str_match is not None:
            release_date = datetime.strptime(date_str_match.group(), '%d %B %Y').date()
        release_country_match = re.search(r'\(([a-zA-Z ]{2,})\)', release_date_prepped)
        if release_country_match is not None and len(release_country_match.groups()) > 0:
            release_country = release_country_match.group(1)
        
    scraped_data['releaseDate'].append(release_date)
    scraped_data['releaseCountry'].append(release_country)
    
    
    # Budget
    budget_h4 = soup.find('h4', string='Budget:')
    budget = None
    if budget_h4 is not None:
        budget_raw_text = budget_h4.parent.findAll(text=True, recursive=False)
        budget = re.sub(' +', ' ', ''.join(budget_raw_text).replace("\n", "").strip())
        
    scraped_data['budget'].append(budget)
    
    
    # worldwide gross
    gross_h4 = soup.find('h4', string='Cumulative Worldwide Gross:')
    gross = None
    if gross_h4 is not None:
        gross_h4_text = gross_h4.parent.findAll(text=True, recursive=False)
        gross = re.sub(' +', ' ', ''.join(gross_h4_text).replace("\n", "").strip())
    
    scraped_data['worldwideGross'].append(gross)
    
    
    # Plot keywords
    keywords_verification_threshold = 2 # Consider only words atleast 2 people considered relavent
    keywords_url = url + "/keywords"
    r = get(keywords_url)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    keywords = []
    plot_keywords_items = soup.find_all(class_="soda sodavote")
    if plot_keywords_items is not None:
        for plot_keywords_item in plot_keywords_items:
            validity_text = plot_keywords_item.find(class_='interesting-count-text').a.text.strip()
            validity_text_match = re.search(r'(\d+) of', validity_text)
            if validity_text_match is not None and len(validity_text_match.groups()) > 0:
                if int(validity_text_match.group(1)) >= keywords_verification_threshold:
                    keywords.append(plot_keywords_item.find(class_='sodatext').a.text.strip())
    
    scraped_data['plotKeywords'].append(keywords)
    
    
    # Music producer
    fullcredits_url = url + "/fullcredits"
    r = get(fullcredits_url)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    
    music_producer = None
    
    full_credits_container = soup.find(id='fullcredits_content', class_='header')
    if full_credits_container is not None:
        full_credits = full_credits_container.find_all(recursive=False)
        if full_credits is not None:
            for idx, item in enumerate(full_credits, start=0):
                if 'Music by' in item.text:
                    producer_atag = full_credits[idx + 1].find('a')
                    if producer_atag is not None:
                        producer_href = producer_atag['href']
                        if producer_href is not None:
                            music_producer = producer_href.split('/')[2]
                            break
    
    scraped_data['musicProducer'].append(music_producer)
    return scraped_data

In [ ]:
# Set the start index and end index. Ip is renewed after each chunk of urls of 'step_size'. 
# After every chunk, result is written to a pickle. So if you need to stop the execution in the middle, note the
# index range of the last successfully written pickle file (from the printed logs) and use the remaining range
# for start and end index to resume from where you stopped.
postfix = 'tor'
s_idx = 0
e_idx = 133588
step_size = 4000
# [0:133588]

base_url = 'https://www.imdb.com/title/'
urls=[]
for index, row in movies[s_idx:e_idx].iterrows():
    urls.append(base_url + row['tconst'])

used_ips = []

with concurrent.futures.ThreadPoolExecutor(max_workers=150) as executor:
    session = get_tor_session()
    chunk_indeces = np.arange(s_idx, e_idx, step_size)
    
    for idx, start in enumerate(chunk_indeces, start=1):
        start_t = time.time()
        finals = {
            "tconst": [],
            "stars": [],
            "oscarWins": [],
            "nominations": [],
            "wins": [],
            "releaseDate": [],
            "releaseCountry": [],
            "plotKeywords": [],
            "budget": [],
            "worldwideGross": [],
            "metascore": [],
            "musicProducer": []
        }
        renew_connection()
        session = get_tor_session()
        new_ip = ast.literal_eval(session.get("http://httpbin.org/ip").text)["origin"].split(",")[0]
        while new_ip in used_ips:
            print("Renewed IP {0} already used. Waiting 5s to renew...".format(new_ip))
            time.sleep(5)
            renew_connection()
            session = get_tor_session()
            new_ip = ast.literal_eval(session.get("http://httpbin.org/ip").text)["origin"].split(",")[0]
        used_ips.append(new_ip)
        
        url_chunk = urls[start:start + step_size]
        
        future_to_url = {executor.submit(get_data, session, url): url for url in url_chunk}
        for future in concurrent.futures.as_completed(future_to_url):
            url = future_to_url[future]
            try:
                data = future.result()
                for k, v in data.items():
                    finals[k].append(v[0])
            except Exception as exc:
                print('%r generated an exception: %s' % (url, exc))
        
        concurrent.futures.wait(list(future_to_url.keys()), timeout=None, return_when=concurrent.futures.ALL_COMPLETED)
        end_t = time.time()
        print("chunk {0} of {1} completed with IP {2}. Took {3} seconds.".format(idx, len(chunk_indeces), new_ip, end_t - start_t))   
        movies_df = pd.DataFrame(data=finals)
        pickle_path = "./pickles/tor/{0}_{1}-{2}_{3}.pkl".format(idx, start, start + step_size, postfix)
        movies_df.to_pickle(pickle_path)
        print("Wrote pickle {0} with {1} rows".format(pickle_path, len(movies_df)))

chunk 1 of 34 completed with IP 31.220.29.166. Took 970.7494752407074 seconds.
Wrote pickle ./pickles/tor/1_0-4000_tor.pkl with 4000 rows

In [133]:
# Combine the created pickles into one Dataframe

dir_path = "./pickles/tor"
# Ignore any sytem files starting with . or folders if any
pickles = [f for f in listdir(dir_path) if isfile(join(dir_path, f)) and not f.startswith('.')]
dfs = list(map(lambda x: pd.read_pickle("{0}/{1}".format(dir_path,x)), pickles))
combined_df = pd.concat(dfs)
combined_df.reset_index(drop=True, inplace=True)
combined_df.to_pickle("./pickles/complete_{0}.pkl".format(e_idx))
with pd.option_context('display.max_rows', 50000, 'display.max_columns', 20):
    display(combined_df)

,tconst,stars,oscarWins,nominations,wins,releaseDate,releaseCountry,plotKeywords,budget,worldwideGross,metascore,musicProducer
0,tt0001440,"[nm0064953, nm0085066, nm1434907]",0,0,0,1910-08-29,Denmark,[],None,None,None,None
1,tt0001113,[],0,0,0,None,None,[],None,None,None,None
2,tt0001628,[nm0848232],0,0,0,None,None,[],None,None,None,None
3,tt0001602,"[nm0136241, nm0216941, nm0239263]",0,0,0,None,None,[],None,None,None,None
4,tt0001555,[],0,0,0,1911-10-07,Portugal,[],None,None,None,None
5,tt0001115,"[nm0064953, nm0085066, nm0169878]",0,0,0,1910-10-27,Denmark,[],None,None,None,None
6,tt0001366,[],0,0,0,None,None,[],None,None,None,None
7,tt0001592,"[nm1458590, nm0478475, nm1532213]",0,0,0,1911-08-12,Denmark,[],None,None,None,None
8,tt0001530,"[nm0738202, nm0198972, nm0519315]",0,0,0,1911-02-09,Australia,[],None,None,None,None
9,tt0001422,[nm0001908],0,0,0,None,None,[],None,None,None,None
10,tt0001521,"[nm0227602, nm0630927, nm3068222]",0,0,0,1911-11-06,Denmark,[],None,None,None,None
11,tt0001010,[],0,0,0,None,None,[],None,None,None,None
12,tt0001495,[],0,0,0,1911-08-31,UK,[],None,None,None,None
13,tt0001358,"[nm5227562, nm5665880, nm1159832]",0,0,0,1910-12-08,Denmark,[],None,None,None,None
14,tt0001587,[],0,0,0,None,None,[],None,None,None,None
15,tt0000984,[],0,0,0,None,None,[],None,None,None,None
16,tt0001359,[],0,0,0,1910-04-08,Portugal,[],None,None,None,None
17,tt0001370,"[nm0764002, nm0105501, nm0896618]",0,0,0,1910-05-02,Portugal,[],None,None,None,None
18,tt0001081,[],0,0,0,None,None,[],None,None,None,None
19,tt0001531,"[nm0198972, nm0528022, nm0627427]",0,0,0,1911-03-16,Australia,[],None,None,None,None
20,tt0001043,[],0,0,0,None,None,[],None,None,None,None
21,tt0001475,"[nm0836458, nm1616439, nm1617025]",0,0,0,1911-09-18,Romania,[],None,None,None,None
22,tt0001498,"[nm0095809, nm0697944, nm0330280]",0,0,0,1911-09-22,USA,[],None,None,None,None
23,tt0001379,[],0,0,0,None,None,[],None,None,None,None
24,tt0001068,[],0,0,0,None,None,[],None,None,None,None
25,tt0001603,"[nm5239866, nm0227602, nm0511223]",0,0,0,1911-09-10,Denmark,[],None,None,None,None
26,tt0001364,[],0,0,0,None,None,[],None,None,None,None
27,tt0001175,"[nm0076800, nm0854414, nm0135053]",0,0,0,1912-03-08,France,[],None,None,None,None
28,tt0001348,[],0,0,0,None,None,[],None,None,None,None
29,tt0000941,"[nm0034453, nm0140054, nm0243918]",0,0,0,None,None,[],None,None,None,None
30,tt0001465,[],0,0,0,None,None,[],None,None,None,None
31,tt0001186,[nm0601556],0,0,0,1910-04-14,USA,[],None,None,None,None
32,tt0001059,[],0,0,0,None,None,[],None,None,None,None
33,tt0001381,"[nm2547818, nm0511155, nm0526189]",0,0,0,1910-08-01,Denmark,[],None,None,None,None
34,tt0001277,"[nm0169878, nm0299757, nm0736379]",0,0,0,1910-10-14,Denmark,[],None,None,None,None
35,tt0001382,[],0,0,0,None,None,[],None,None,None,None
36,tt0001163,[],0,0,0,1910-07-11,Portugal,[],None,None,None,None
37,tt0001007,[],0,0,0,None,None,[],None,None,None,None
38,tt0001069,[],0,0,0,None,None,[],None,None,None,None
39,tt0001482,"[nm0524306, nm0568282, nm0287792]",0,0,0,1911-12-18,USA,[],None,None,None,None
40,tt0001386,[],0,0,0,None,None,[],None,None,None,None
41,tt0001109,[],0,0,0,None,None,[],None,None,None,None
42,tt0001230,[nm0002503],0,0,0,None,None,[],None,None,None,None
43,tt0001515,[],0,0,0,None,None,[],None,None,None,None
44,tt0001203,[],0,0,0,None,None,[],None,None,None,None
45,tt0001341,"[nm1024681, nm0782422, nm0295457]",0,0,0,1913-02-07,Czechoslovakia,[],None,None,None,None
46,tt0001247,[],0,0,0,None,None,[],None,None,None,None
47,tt0001353,[],0,0,0,1911-01-05,UK,[],None,None,None,None
48,tt0001028,[],0,0,0,None,UK,[],None,None,None,None
49,tt0001569,[nm0681933],0,0,0,None,None,[],None,None,None,None
50,tt0000739,[],0,0,0,None,None,[],None,None,None,None
51,tt0000886,[nm0609814],0,0,0,1910-02-02,USA,[],None,None,None,None
52,tt0001338,[],0,0,0,None,None,[],None,None,None,None
53,tt0000814,[],0,0,0,None,None,[],None,None,None,None
54,tt0000793,[nm0691995],0,0,0,1909-01-21,Denmark,[],None,None,None,None
55,tt0001586,[nm0681933],0,0,0,None,USA,[],None,None,None,None
56,tt0000947,"[nm0488932, nm0814379]",0,0,0,None,None,[],None,None,None,None
57,tt0000959,[],0,0,0,None,None,[],None,None,None,None
58,tt0001082,[],0,0,0,None,None,[],None,None,None,None
59,tt0000842,[],0,0,0,None,None,[],None,None,None,None
60,tt0001184,"[nm0699807, nm0735618]",0,0,0,None,None,[],None,None,None,None
61,tt0001101,[nm0923594],0,0,0,1910-11-05,USA,[],None,None,None,None
62,tt0001159,[nm0597995],0,0,0,None,None,[],None,None,None,None
63,tt0000335,"[nm1010955, nm1012612, nm1011210]",0,0,0,1900-09-13,Australia,[],None,None,None,None
64,tt0001051,[],0,0,0,None,None,[],None,None,None,None
65,tt0001038,[],0,0,0,1910-01-20,Denmark,[],None,None,None,None
66,tt0001049,"[nm0104856, nm0251436, nm0280746]",0,0,0,1909-02-11,Denmark,[],None,None,None,None
67,tt0000502,"[nm0215752, nm0252720]",0,0,0,None,None,[],None,None,None,None
68,tt0001141,[],0,0,0,None,None,[],None,None,None,None
69,tt0001116,"[nm0064953, nm0085066, nm0169878]",0,0,0,1910-11-15,Denmark,[],None,None,None,None
70,tt0001285,"[nm0366742, nm0037789, nm0401967]",0,0,0,1909-12-04,USA,[],None,None,None,None
71,tt0001240,"[nm0627274, nm0381005, nm0478475]",0,0,0,1911-02-27,Denmark,[],None,None,None,None
72,tt0001080,[],0,0,0,None,None,[],None,None,None,None
73,tt0001179,[],0,0,0,None,None,[],None,None,None,None
74,tt0000846,[],0,0,0,None,None,[],None,None,None,None
75,tt0000862,"[nm5289829, nm0264569, nm0386036]",0,0,0,1909-04-20,Denmark,[],None,None,None,None
76,tt0000850,[],0,0,0,None,None,[],None,None,None,None
77,tt0000891,"[nm0727622, nm0814379]",0,0,0,1909-08-29,Denmark,[],None,None,None,None
78,tt0000869,[],0,0,0,None,None,[],None,None,None,None
79,tt0001147,[],0,0,0,None,None,[],None,None,None,None
80,tt0001112,"[nm0135493, nm0143332]",0,0,0,None,None,[],None,None,None,None
81,tt0000009,"[nm0063086, nm0183823, nm1309758]",0,0,0,1894-10-09,USA,[],None,None,None,None
82,tt0000859,[],0,0,0,None,None,[],None,None,None,None
83,tt0001122,"[nm0154988, nm0167461, nm0756543]",0,0,0,None,None,[],None,None,None,None
84,tt0000879,"[nm1747784, nm2681099]",0,0,0,None,None,[],None,None,None,None
85,tt0000868,[],0,0,0,None,None,[],None,None,None,None
86,tt0000679,"[nm0000875, nm0122665, nm0933446]",0,0,0,1908-09-24,USA,[],None,None,None,nm0542903
87,tt0000615,"[nm3071427, nm0581353, nm0888988]",0,0,0,1907-11-02,Australia,[],"AUD1,000",None,None,None
88,tt0001142,[],0,0,0,None,None,[],None,None,None,None
89,tt0000675,[],0,0,0,None,None,[],None,None,None,None
90,tt0001258,"[nm1993094, nm1458507, nm2112876]",0,0,0,1910-08-02,Denmark,[],None,None,None,None
91,tt0000838,[],0,0,0,None,None,[],None,None,None,None
92,tt0000630,[nm0624446],0,0,0,None,Italy,[],None,None,None,None
93,tt0000992,[nm0119164],0,0,0,1909-09-03,Denmark,[],None,None,None,None
94,tt0000676,"[nm0097421, nm0140054]",0,0,0,None,None,[],None,None,None,None
95,tt0000812,[],0,0,0,None,None,[],None,None,None,None
96,tt0001604,"[nm0030667, nm0163519, nm0181848]",0,0,0,1911-04-24,Australia,[],None,None,None,None
97,tt0000147,"[nm0179163, nm0280615, nm4082222]",0,0,0,None,USA,[],None,None,None,None
98,tt0000867,[],0,0,0,None,None,[],None,None,None,None
99,tt0000574,"[nm0846887, nm0846894, nm3002376]",0,0,0,1906-12-26,Australia,[],"$2,250",None,None,nm2421834
100,tt0002047,[],0,0,0,1912-07-04,Portugal,[],None,None,None,None
101,tt0002163,"[nm0691995, nm0509573, nm0549989]",0,0,0,1913-11-12,Denmark,[],None,None,None,nm1992222
102,tt0002094,[],0,0,0,None,None,[],None,None,None,None
103,tt0002180,[],0,0,0,None,None,[],None,None,None,None
104,tt0002060,"[nm0126594, nm0434130, nm1046841]",0,0,0,None,None,[],None,None,None,None
105,tt0001895,[],0,0,0,1911-05-01,Portugal,[],None,None,None,None
106,tt0002019,[],0,0,0,None,None,[],None,None,None,None
107,tt0002156,[nm0684029],0,0,0,None,None,[],None,None,None,None
108,tt0002432,[],0,0,0,None,None,[],None,None,None,None
109,tt0001889,"[nm0143865, nm0159725, nm0483943]",0,0,0,1913-11-13,Denmark,[],None,None,None,None
110,tt0001756,"[nm0034454, nm0034548, nm0679170]",0,0,0,None,None,[],None,None,None,None
111,tt0001785,[],0,0,0,1911-12-07,Australia,[],None,None,None,None
112,tt0001731,"[nm0198972, nm0519315, nm0528022]",0,0,0,1911-06-19,Australia,[],None,None,None,None
113,tt0002001,[nm0459142],0,0,0,1912-05-20,USA,[],None,None,None,None
114,tt0001920,[],0,0,0,None,None,[],None,None,None,None
115,tt0002088,"[nm1760538, nm2139851, nm1553125]",0,0,0,None,None,[],None,None,None,None
116,tt0001764,[],0,0,0,None,None,[],None,None,None,None
117,tt0001964,"[nm0003425, nm0643138, nm0883519]",0,0,0,1912-01-20,Germany,[],None,None,None,None
118,tt0002458,[],0,0,0,None,None,[],None,None,None,None
119,tt0001716,[],0,0,0,1911-10-19,UK,[],None,None,None,None
120,tt0001812,"[nm0207207, nm0294276]",0,0,0,1911-01-11,UK,[],None,None,None,None
121,tt0001826,"[nm0511729, nm0002001]",0,0,0,None,None,[],None,None,None,None
122,tt0002026,"[nm0418086, nm0027708, nm0526167]",0,0,0,1912-11-09,Norway,[],None,None,None,None
123,tt0001780,[],0,0,0,None,None,[],None,None,None,None
124,tt0002022,"[nm0538779, nm0789401]",0,0,0,1912-01-24,Russia,[],None,None,None,None
125,tt0001711,"[nm0009872, nm0002161, nm0166433]",0,0,0,None,None,[],None,None,None,None
126,tt0002459,"[nm0001908, nm0782962, nm0090204]",0,0,0,1912-12-28,USA,[],None,None,None,None
127,tt0002046,[],0,0,0,1913-02-26,Spain,[],None,None,None,None
128,tt0001803,[],0,0,0,1911-03-04,Australia,[],None,None,None,None
129,tt0002362,[],0,0,0,1912-05-30,UK,[],None,None,None,None
130,tt0002348,"[nm0216031, nm1152083, nm0691995]",0,0,0,1912-01-22,Denmark,[],None,None,None,None
131,tt0001778,[],0,0,0,1911-04-19,Denmark,[],None,None,None,None
132,tt0001998,[],0,0,0,None,USA,[],None,None,None,None
133,tt0001965,[],0,0,0,None,None,[],None,None,None,None
134,tt0001712,[nm0054884],0,0,0,1911-11-02,UK,[],None,None,None,None
135,tt0002089,[],0,0,0,None,None,[],None,None,None,None
136,tt0002220,[nm0681933],0,0,0,None,None,[],None,None,None,None
137,tt0001993,[],0,0,0,None,None,[],None,None,None,None
138,tt0002305,"[nm0897642, nm1179300]",0,0,0,None,None,[],None,None,None,None
139,tt0001992,[nm0691995],0,0,0,None,None,[],None,None,None,None
140,tt0002130,"[nm0660139, nm0685283, nm0209738]",0,0,0,1911-03-06,Finland,[],None,None,None,nm1374692
141,tt0002337,"[nm0124279, nm0913341]",0,0,0,1912-01-02,USA,[],None,None,None,None
142,tt0002031,"[nm0007221, nm0169078, nm0857302]",0,0,0,1912-10-07,USA,[],None,None,None,None
143,tt0002328,"[nm0294276, nm0576791]",0,0,0,1912-04-18,UK,[],None,None,None,None
144,tt0001648,[],0,0,0,1911-03-27,Australia,[],None,None,None,None
145,tt0002444,[],0,0,0,None,USA,[],None,None,None,None
146,tt0001692,"[nm0003425, nm0282348, nm0016799]",0,0,0,1911-11-02,Denmark,[],None,None,None,None
147,tt0002039,[],0,0,0,None,USA,[],None,None,None,None
148,tt0002161,[],0,0,0,1912-03-25,Portugal,[],None,None,None,None
149,tt0001911,"[nm0829692, nm0627427, nm0492661]",0,0,0,1911-12-02,Australia,[],None,None,None,None
150,tt0002286,[],0,0,0,None,None,[],None,None,None,None
151,tt0002186,"[nm0653174, nm0653149, nm0064949]",0,0,0,1912-03-20,Denmark,[],None,None,None,None
152,tt0002446,[nm0069295],0,0,0,1912-02-12,USA,[],None,None,None,None
153,tt0002262,"[nm0858286, nm0869559]",0,0,0,None,None,[],None,None,None,None
154,tt0002044,[],0,0,0,None,None,[],None,None,None,None
155,tt0001706,"[nm0001908, nm0138771, nm0865178]",0,0,0,1911-06-03,USA,[],None,None,None,None
156,tt0001630,"[nm0003425, nm0585785, nm1270556]",0,0,0,1911-11-11,Germany,[],None,None,None,None
157,tt0002119,[nm0898366],0,0,0,1912-02-19,Australia,[],None,None,None,None
158,tt0002423,"[nm0624470, nm0417837, nm0509573]",0,0,0,1919-11-26,Denmark,[],None,None,None,nm0002197
159,tt0002165,[],0,0,0,None,None,[],None,None,None,None
160,tt0001914,"[nm0003425, nm0917744, nm0016799]",0,0,0,1913-02-28,Germany,[],None,None,None,None
161,tt0002102,[],0,0,0,None,None,[],None,None,None,None
162,tt0002153,"[nm0159779, nm0381005, nm0385541]",0,0,0,1912-08-26,Denmark,[],None,None,None,None
163,tt0001790,"[nm0470307, nm0959921, nm0893346]",0,0,0,1913-01-03,France,[],"FRF50,000",None,None,None
164,tt0002361,"[nm0058020, nm0198549, nm0328760]",0,0,0,1912-12-07,Australia,[],None,None,None,None
165,tt0002112,[],0,0,0,1912-05-21,Portugal,[],None,None,None,None
166,tt0002329,"[nm0813922, nm3524487, nm0895382]",0,0,0,1912-10-14,Hungary,[],None,None,None,None
167,tt0001892,"[nm0003425, nm0699637, nm0375839]",0,0,0,1911-08-19,Germany,[],None,None,None,None
168,tt0002452,"[nm0218404, nm2386325, nm0636620]",0,0,0,1912-09-01,Romania,[],"ROL400,000",None,None,None
169,tt0002101,"[nm0306947, nm0801774, nm0276160]",0,0,0,1912-11-13,USA,[],"$45,000",None,None,None
170,tt0002406,"[nm0587610, nm0573033, nm0747454]",0,0,0,1912-10-24,UK,[],None,None,None,None
171,tt0002199,"[nm0087381, nm0245769, nm0310155]",0,0,0,None,USA,[],None,None,None,nm0800414
172,tt0002405,"[nm0329522, nm0122918, nm0736778]",0,0,0,1912-05-20,USA,[],None,None,None,None
173,tt0002315,[],0,0,0,None,None,[],None,None,None,None
174,tt0002109,[],0,0,0,None,None,[],None,None,None,None
175,tt0002335,"[nm0515860, nm0897953]",0,0,0,None,None,[],None,None,None,None
176,tt0002301,[],0,0,0,1912-04-14,Portugal,[],None,None,None,None
177,tt0002375,"[nm0135053, nm0180078, nm0503415]",0,0,0,None,None,[],None,None,None,None
178,tt0002410,[nm0294276],0,0,0,1912-04-25,UK,[],None,None,None,None
179,tt0002425,[nm0707095],0,0,0,1912-04-14,USA,[],None,None,None,None
180,tt0002211,"[nm0116796, nm1531372, nm2529677]",0,0,0,1912-10-31,Denmark,[],None,None,None,None
181,tt0002115,[],0,0,0,None,None,[],None,None,None,None
182,tt0002242,[],0,0,0,None,None,[],None,None,None,None
183,tt0002474,"[nm1053222, nm1824687, nm0781361]",0,0,0,1913-02-21,Czechoslovakia,[],None,None,None,None
184,tt0002188,[],0,0,0,None,None,[],None,None,None,None
185,tt0002333,"[nm0003425, nm0375704, nm0121549]",0,0,0,1912-06-23,Denmark,[],None,None,None,None
186,tt0002276,[],0,0,0,None,None,[],None,None,None,None
187,tt0002152,"[nm2543207, nm0624652]",0,0,0,1915-08-16,Denmark,[],None,None,None,None
188,tt0002140,[nm0898366],0,0,0,1912-01-25,Australia,[],None,None,None,None
189,tt0002461,"[nm0312600, nm0911963, nm0306817]",0,0,0,1912-10-15,USA,[],"$30,000",None,None,None
190,tt0002439,[],0,0,0,1913-02-08,UK,[],None,None,None,None
191,tt0002157,"[nm0488932, nm0872326, nm0775568]",0,0,0,1912-07-01,Denmark,[],None,None,None,None
192,tt0002395,"[nm0304098, nm0858286, nm0869559]",0,0,0,None,None,[],None,None,None,None
193,tt0002467,"[nm0294276, nm0576791]",0,0,0,1912-04-18,UK,[],None,None,None,None
194,tt0002131,[],0,0,0,1912-05-14,Portugal,[],None,None,None,None
195,tt0002239,[],0,0,0,None,None,[],None,None,None,None
196,tt0002445,"[nm0637019, nm0784988, nm0146335]",0,0,0,1913-05-14,Netherlands,[],"ITL45,000",None,None,None
197,tt0002345,[],0,0,0,None,None,[],None,None,None,None
198,tt0002438,[],0,0,0,None,None,[],None,None,None,None
199,tt0002431,[],0,0,0,None,None,[],None,None,None,None
200,tt0002572,"[nm0003425, nm0917744, nm1268667]",0,0,0,1912-11-01,Germany,[],None,None,None,None
201,tt0002590,"[nm0003425, nm0082178, nm0643302]",0,0,0,1912-03-01,Germany,[],None,None,None,None
202,tt0002649,"[nm0366585, nm0528022, nm0642621]",0,0,0,1913-07-19,Australia,[],None,None,None,None
203,tt0002886,[],0,0,0,None,None,[],None,None,None,None
204,tt0002594,"[nm0528022, nm0377987, nm0661995]",0,0,0,1913-12-22,Australia,[],None,None,None,None
205,tt0002665,[],0,0,0,None,None,[],None,None,None,None
206,tt0002751,[],0,0,0,None,None,[],None,None,None,None
207,tt0002765,[],0,0,0,None,None,[],None,None,None,None
208,tt0002624,[],0,0,0,None,None,[],None,None,None,None
209,tt0002479,[],0,0,0,None,Denmark,[],None,None,None,None
210,tt0002637,"[nm0110838, nm0778996, nm0437312]",0,0,0,None,USA,[],None,None,None,None
211,tt0002833,"[nm0074186, nm2828208, nm0170183]",0,0,0,1914-02-21,Germany,[],None,None,None,None
212,tt0002975,"[nm0133684, nm0350759, nm0498833]",0,0,0,None,None,[],None,None,None,None
213,tt0002555,"[nm0638929, nm0862278, nm0091058]",0,0,0,1913-11-06,Hungary,[],None,None,None,nm2700803
214,tt0002642,"[nm0021224, nm0159780, nm1464071]",0,0,0,1914-04-23,Denmark,[],None,None,None,None
215,tt0002916,"[nm0017629, nm0691995, nm1945570]",0,0,0,1914-10-26,Denmark,[],None,None,None,None
216,tt0002987,"[nm0789401, nm0848483, nm0882643]",0,0,0,None,None,[],None,None,None,None
217,tt0002661,[],0,0,0,None,None,[],None,None,None,None
218,tt0002540,"[nm0091386, nm0119164, nm0159779]",0,0,0,1912-02-12,Denmark,[],None,None,None,None
219,tt0002591,"[nm0029806, nm0509573]",0,0,0,None,None,[],None,None,None,None
220,tt0002822,"[nm1889693, nm0422465, nm0377832]",0,0,0,1913-11-22,USA,[],None,None,None,None
221,tt0002491,[nm0898366],0,0,0,1912-01-29,Australia,[],None,None,None,None
222,tt0002517,[],0,0,0,None,None,[],None,None,None,None
223,tt0002648,"[nm0596218, nm0477996, nm0074186]",0,0,0,None,USA,[],None,None,None,None
224,tt0002743,"[nm0069354, nm0282725, nm0303023]",0,0,0,None,None,[],None,None,None,None
225,tt0002790,[],0,0,0,None,None,[],None,None,None,None
226,tt0002722,[],0,0,0,1913-03-14,Denmark,[],None,None,None,None
227,tt0002888,"[nm0674398, nm3885009, nm0535522]",0,0,0,1916-05-12,Spain,[],None,None,None,None
228,tt0002859,"[nm0319498, nm0440059, nm0842015]",0,0,0,None,USA,[],None,None,None,None
229,tt0002953,[],0,0,0,None,None,[],None,None,None,None
230,tt0003024,[nm0518711],0,0,0,None,USA,[],None,None,None,None
231,tt0002602,"[nm1267460, nm0539049, nm0298614]",0,0,0,1913-10-13,Denmark,[],None,None,None,None
232,tt0002685,"[nm0022011, nm0252476, nm0526234]",0,0,0,1913-09-22,Sweden,[],None,None,None,None
233,tt0002820,"[nm0287085, nm0666835, nm0604658]",0,0,0,None,UK,[],None,None,None,None
234,tt0002669,"[nm0533102, nm0249400, nm0514517]",0,0,0,1913-06-01,USA,[],None,None,None,None
235,tt0002799,[],0,0,0,1913-01-30,Portugal,[],None,None,None,None
236,tt0002978,"[nm0366609, nm0057482, nm0330280]",0,0,0,1913-12-22,USA,[],None,None,None,None
237,tt0002725,[nm0337033],0,0,0,None,USA,[],None,None,None,None
238,tt0002798,"[nm0299674, nm1979952, nm0677561]",0,0,0,None,None,[],None,None,None,None
239,tt0002879,[],0,0,0,1913-12-15,USA,[],None,None,None,None
240,tt0002981,"[nm0768187, nm0676473, nm0247305]",0,0,0,1913-10-20,USA,[],None,None,None,None
241,tt0002889,"[nm0243614, nm0746008, nm0332182]",0,0,0,1913-10-24,France,[],None,None,None,None
242,tt0002771,[nm0558236],0,0,0,None,None,[],None,None,None,None
243,tt0002832,"[nm0528151, nm0137403, nm0838052]",0,0,0,1914-02-02,Canada,[],None,None,None,None
244,tt0002605,"[nm0931031, nm0165134, nm0139356]",0,0,0,1913-12-29,USA,[],None,None,None,None
245,tt0002748,"[nm0228724, nm0768187, nm0676473]",0,0,0,1913-09-20,USA,[],None,None,None,None
246,tt0002727,"[nm0375839, nm0669895, nm0234670]",0,0,0,1913-08-14,Denmark,[],None,None,None,None
247,tt0002514,"[nm0064949, nm0803705, nm0252476]",0,0,0,1912-10-21,Sweden,[],None,None,None,None
248,tt0002922,"[nm0727615, nm0285425, nm0177548]",0,0,0,1913-09-22,UK,[],None,None,None,None
249,tt0002917,"[nm0073906, nm0096783, nm0251622]",0,0,0,1913-12-20,Sweden,[],None,None,None,None
250,tt0002901,"[nm0883898, nm0604679, nm1919060]",0,0,0,1913-10-25,USA,[],None,None,None,None
251,tt0002958,[nm0850688],0,0,0,None,None,[],None,None,None,None
252,tt0002483,"[nm0516974, nm0169088, nm0358164]",0,0,0,1912-10-11,USA,[],None,None,None,None
253,tt0002660,[],0,0,0,None,USA,[],None,None,None,None
254,tt0002679,"[nm0135421, nm1887019, nm1263330]",0,0,0,None,Italy,[],None,None,None,None
255,tt0002763,[],0,0,0,None,None,[],None,None,None,None
256,tt0002676,[nm3844136],0,0,0,None,None,[],None,None,None,None
257,tt0002823,"[nm0491134, nm0519765, nm0585785]",0,0,0,1913-11-03,Germany,[],None,None,None,None
258,tt0002764,[],0,0,0,None,None,[],None,None,None,None
259,tt0002595,"[nm0074186, nm0082178, nm0783027]",0,0,0,1913-10-17,Germany,[],None,None,None,None
260,tt0002973,[],0,0,0,2006-10-05,Japan,[],None,None,None,None

In [144]:
# test_ctr = {
#     "tconst": [],
#     "stars": [],
#     "oscarWins": [],
#     "nominations": [],
#     "wins": [],
#     "releaseDate": [],
#     "releaseCountry": [],
#     "plotKeywords": [],
#     "budget": [],
#     "worldwideGross": [],
#     "metascore": [],
#     "musicProducer": []
# }

# def tempfn(x):
#     for index, value in x.items():
#         test_ctr[index].append(value[0]) 

# test_df = part1.apply(tempfn, axis=1)

In [ ]:
# renew_connection()
# session = get_tor_session()
# print(session.get("http://httpbin.org/ip").text)