In [2]:
# TODO: Fix use of arrays in the dictionaries to just values
import re
import ast
import time
import requests
import pandas as pd
import numpy as np
import os.path
import urllib.request
import concurrent.futures
from os import listdir
from stem import Signal
from requests import get
from bs4 import BeautifulSoup
from datetime import datetime
from os.path import isfile, join
from stem.control import Controller

In [3]:
def get_tor_session():
    session = requests.session()
    # Tor uses the 9050 port as the default socks port
    session.proxies = {'http':  'socks5://127.0.0.1:9050',
                       'https': 'socks5://127.0.0.1:9050'}
    return session

def renew_connection():
    with Controller.from_port(port = 9051) as controller:
        controller.authenticate(password="password")
        controller.signal(Signal.NEWNYM)

In [5]:
if os.path.exists('./pickles/filtered_movies.pkl'):
    movies = pd.read_pickle("./pickles/filtered_movies.pkl")
else:
    title_basics = pd.read_csv("data/title.basics.tsv", sep='\t')
    movies = title_basics[title_basics.titleType == 'movie']
    movies.to_pickle("./filtered_movies.pkl")
movies.head()

founf

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [4]:
len(movies)

534354

In [5]:
def get_data(session, url):
    scraped_data = {
    "tconst": [],
    "stars": [],
    "oscarWins": [],
    "nominations": [],
    "wins": [],
    "releaseDate": [],
    "releaseCountry": [],
    "plotKeywords": [],
    "budget": [],
    "worldwideGross": [],
    "metascore": [],
    "musicProducer": []
    }
    
    info=[]
    
    try:
        r = session.get(url)
        r.raise_for_status()
    except requests.exceptions.HTTPError as err:
        print(err)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    
    #tconst
    tconst=url.rsplit('/', 1)[-1]
    scraped_data['tconst'].append(tconst)
    
    
    with open("./ScrapedPages/tor/{0}.html".format(tconst), "w") as text_file:
        text_file.write(page_body)
        
    # Stars
    stars = []
    stars_h4 = soup.find('h4', string='Stars:')
    if stars_h4 is not None:
        star_atags_parent = stars_h4.parent
        if star_atags_parent is not None:
            star_atags = star_atags_parent.find_all('a')
            if star_atags is not None:
                for atag in star_atags:
                    if atag['href'].startswith('/name/'):
                        stars.append(atag['href'].split('/')[2])
    else:
        stars_h4 = soup.find('h4', string='Star:')
        if stars_h4 is not None:
            star_atags_parent = stars_h4.parent
            if star_atags_parent is not None:
                star_atags = star_atags_parent.find_all('a')
                if star_atags is not None:
                    for atag in star_atags:
                        if atag['href'].startswith('/name/'):
                            stars.append(atag['href'].split('/')[2])
    scraped_data['stars'].append(stars)
    
    
    # Metascore
    metascore = None
    metascore_list = soup.select('.metacriticScore span:first-child')
    if len(metascore_list) > 0:
        metascore = metascore_list[0].string
        
    scraped_data['metascore'].append(metascore if metascore is None else str(metascore))
    
    
    #awards
    awrds_lines = soup.find_all(class_="awards-blurb")
    oscars = 0
    wins = 0
    nominations = 0
    for line in awrds_lines:
        
        if line.findChild() is not None:
            prepped_str = re.sub(' +', ' ', line.findChild().text.replace("\n", " ").strip())
            res = re.search('(W|w)on (\d+) (O|o)scars.?', prepped_str)
            if res is not None:
                oscars = int(res.group(2))
            
        else:
            prepped_str = re.sub(' +', ' ', line.text.replace("\n", "").strip())
            
            res = re.search('(\d+) wins', prepped_str)
            if res is not None:
                wins = int(res.group(1))
            
            
            res = re.search('(\d+) nominations', prepped_str)
            if res is not None:
                nominations = int(res.group(1))
    scraped_data['oscarWins'].append(oscars)
    scraped_data['wins'].append(wins)
    scraped_data['nominations'].append(nominations)
    
    
    # Release date
    release_date_h4 = soup.find('h4', string='Release Date:')
    release_date = None
    release_country = None
    if release_date_h4 is not None:
        release_date_raw_text = release_date_h4.parent.findAll(text=True, recursive=False)
        release_date_prepped = re.sub(' +', ' ', ''.join(release_date_raw_text).replace("\n", "").strip())
        date_str_match = re.search(r'\d{1,2} \w+ \d{4}', release_date_prepped)
        if date_str_match is not None:
            release_date = datetime.strptime(date_str_match.group(), '%d %B %Y').date()
        release_country_match = re.search(r'\(([a-zA-Z ]{2,})\)', release_date_prepped)
        if release_country_match is not None and len(release_country_match.groups()) > 0:
            release_country = release_country_match.group(1)
        
    scraped_data['releaseDate'].append(release_date)
    scraped_data['releaseCountry'].append(release_country)
    
    
    # Budget
    budget_h4 = soup.find('h4', string='Budget:')
    budget = None
    if budget_h4 is not None:
        budget_raw_text = budget_h4.parent.findAll(text=True, recursive=False)
        budget = re.sub(' +', ' ', ''.join(budget_raw_text).replace("\n", "").strip())
        
    scraped_data['budget'].append(budget)
    
    
    # worldwide gross
    gross_h4 = soup.find('h4', string='Cumulative Worldwide Gross:')
    gross = None
    if gross_h4 is not None:
        gross_h4_text = gross_h4.parent.findAll(text=True, recursive=False)
        gross = re.sub(' +', ' ', ''.join(gross_h4_text).replace("\n", "").strip())
    
    scraped_data['worldwideGross'].append(gross)
    
    
    # Plot keywords
    keywords_verification_threshold = 2 # Consider only words atleast 2 people considered relavent
    keywords_url = url + "/keywords"
    r = get(keywords_url)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    keywords = []
    plot_keywords_items = soup.find_all(class_="soda sodavote")
    if plot_keywords_items is not None:
        for plot_keywords_item in plot_keywords_items:
            validity_text = plot_keywords_item.find(class_='interesting-count-text').a.text.strip()
            validity_text_match = re.search(r'(\d+) of', validity_text)
            if validity_text_match is not None and len(validity_text_match.groups()) > 0:
                if int(validity_text_match.group(1)) >= keywords_verification_threshold:
                    keywords.append(plot_keywords_item.find(class_='sodatext').a.text.strip())
    
    scraped_data['plotKeywords'].append(keywords)
    
    
    # Music producer
    fullcredits_url = url + "/fullcredits"
    r = get(fullcredits_url)
    page_body = r.text
    soup = BeautifulSoup(page_body, 'html.parser')
    
    music_producer = None
    
    full_credits_container = soup.find(id='fullcredits_content', class_='header')
    if full_credits_container is not None:
        full_credits = full_credits_container.find_all(recursive=False)
        if full_credits is not None:
            for idx, item in enumerate(full_credits, start=0):
                if 'Music by' in item.text:
                    producer_atag = full_credits[idx + 1].find('a')
                    if producer_atag is not None:
                        producer_href = producer_atag['href']
                        if producer_href is not None:
                            music_producer = producer_href.split('/')[2]
                            break
    
    scraped_data['musicProducer'].append(music_producer)
    return scraped_data

In [7]:
# Set the start index and end index. Ip is renewed after each chunk of urls of 'step_size'. 
# After every chunk, result is written to a pickle. So if you need to stop the execution in the middle, note the
# index range of the last successfully written pickle file (from the printed logs) and use the remaining range
# for start and end index to resume from where you stopped.
postfix = 'tor'
s_idx = 0
e_idx = 178118
step_size = 4000
# [0:178118]

base_url = 'https://www.imdb.com/title/'
urls=[]
for index, row in movies[s_idx:e_idx].iterrows():
    urls.append(base_url + row['tconst'])

used_ips = []

with concurrent.futures.ThreadPoolExecutor(max_workers=150) as executor:
    session = get_tor_session()
    chunk_indeces = np.arange(0, len(urls), step_size)
    failed_urls = []
    
    for idx, start in enumerate(chunk_indeces, start=1):
        start_t = time.time()
        finals = {
            "tconst": [],
            "stars": [],
            "oscarWins": [],
            "nominations": [],
            "wins": [],
            "releaseDate": [],
            "releaseCountry": [],
            "plotKeywords": [],
            "budget": [],
            "worldwideGross": [],
            "metascore": [],
            "musicProducer": []
        }
        renew_connection()
        session = get_tor_session()
        new_ip = ast.literal_eval(session.get("http://httpbin.org/ip").text)["origin"].split(",")[0]
        while new_ip in used_ips:
            print("Renewed IP {0} already used. Waiting 5s to renew...".format(new_ip))
            time.sleep(5)
            renew_connection()
            session = get_tor_session()
            new_ip = ast.literal_eval(session.get("http://httpbin.org/ip").text)["origin"].split(",")[0]
        used_ips.append(new_ip)
        
        url_chunk = urls[start:start + step_size] + failed_urls
        failed_urls = []
        
        future_to_url = {executor.submit(get_data, session, url): url for url in url_chunk}
        for future in concurrent.futures.as_completed(future_to_url):
            url = future_to_url[future]
            try:
                data = future.result()
                for k, v in data.items():
                    finals[k].append(v[0])
            except Exception as exc:
                failed_urls.append(url.strip("'"))
                print('%s generated an exception: %s. Added to retry list.' % (url, exc))
        
        concurrent.futures.wait(list(future_to_url.keys()), timeout=None, return_when=concurrent.futures.ALL_COMPLETED)
        end_t = time.time()
        print("chunk {0} of {1} completed with IP {2}. Took {3} seconds.".format(idx, len(chunk_indeces), new_ip, end_t - start_t))   
        movies_df = pd.DataFrame(data=finals)
        pickle_path = "./pickles/tor/{0}_{1}-{2}_{3}.pkl".format(idx, start, start + step_size, postfix)
        movies_df.to_pickle(pickle_path)
        print("Wrote pickle {0} with {1} rows".format(pickle_path, len(movies_df)))

chunk 1 of 45 completed with IP 104.244.73.126. Took 1034.0162057876587 seconds.
Wrote pickle ./pickles/tor/1_0-4000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0013285 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0013299 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0013324 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0013317 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0013343 generated an exception: SOCKSHTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt0013343/ (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')",),)). Added to retry list.
chunk 2 of 45 completed with IP 178.17.170.135. Took 1165.2079248428345 seconds.
Wrote pickle ./pickles/tor/2_4000-8000_tor.pkl with 3995 rows
https://www.imdb.com/title/tt0015654 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 3 of 45 completed with IP 199.249.230.76. Took 1393.369244813919 seconds.
Wrote pickle ./pickles/tor/3_8000-12000_tor.pkl with 4004 rows
chunk 4 of 45 completed with IP 178.175.148.165. Took 1570.7601437568665 seconds.
Wrote pickle ./pickles/tor/4_12000-16000_tor.pkl with 4001 rows
chunk 5 of 45 completed with IP 192.42.116.20. Took 1700.8818650245667 seconds.
Wrote pickle ./pickles/tor/5_16000-20000_tor.pkl with 4000 rows
chunk 6 of 45 completed with IP 23.129.64.216. Took 1764.7626690864563 seconds.
Wrote pickle ./pickles/tor/6_20000-24000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0035834 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 7 of 45 completed with IP 185.220.101.60. Took 1791.6602578163147 seconds.
Wrote pickle ./pickles/tor/7_24000-28000_tor.pkl with 3999 rows
chunk 8 of 45 completed with IP 199.249.230.101. Took 1854.0496141910553 seconds.
Wrote pickle ./pickles/tor/8_28000-32000_tor.pkl with 4001 rows
https://www.imdb.com/title/tt0044988 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0045022 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0045901 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 9 of 45 completed with IP 37.252.8.45. Took 1766.8192110061646 seconds.
Wrote pickle ./pickles/tor/9_32000-36000_tor.pkl with 3997 rows
https://www.imdb.com/title/tt0053351 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0053367 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 10 of 45 completed with IP 109.70.100.24. Took 1782.305741071701 seconds.
Wrote pickle ./pickles/tor/10_36000-40000_tor.pkl with 4001 rows
https://www.imdb.com/title/tt0055958 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0055937 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0055953 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 11 of 45 completed with IP 185.220.101.24. Took 1856.2411618232727 seconds.
Wrote pickle ./pickles/tor/11_40000-44000_tor.pkl with 3999 rows
https://www.imdb.com/title/tt0062115 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0062118 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0065060 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 12 of 45 completed with IP 199.249.230.115. Took 1912.2497310638428 seconds.
Wrote pickle ./pickles/tor/12_44000-48000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0065693 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0065638 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0065599 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0065688 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0067601 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0067574 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0067607 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 13 of 45 completed with IP 209.141.41.103. Took 1963.3492789268494 seconds.
Wrote pickle ./pickles/tor/13_48000-52000_tor.pkl with 3996 rows
https://www.imdb.com/title/tt0072638 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 14 of 45 completed with IP 45.137.190.105. Took 1457.2902839183807 seconds.
Wrote pickle ./pickles/tor/14_52000-56000_tor.pkl with 4006 rows
https://www.imdb.com/title/tt0078524 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0079944 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
chunk 15 of 45 completed with IP 199.249.230.70. Took 1472.7421438694 seconds.
Wrote pickle ./pickles/tor/15_56000-60000_tor.pkl with 3999 rows
chunk 16 of 45 completed with IP 185.220.101.73. Took 1435.5371840000153 seconds.
Wrote pickle ./pickles/tor/16_60000-64000_tor.pkl with 4002 rows
Renewed IP 199.249.230.76 already used. Waiting 5s to renew...
Renewed IP 199.249.230.76 already used. Waiting 5s to renew...
chunk 17 of 45 completed with IP 198.98.52.143. Took 1526.507971048355 seconds.
Wrote pickle ./pickles/tor/17_64000-68000_tor.pkl with 4000 rows
chunk 18 of 45 completed with IP 54.36.205.38. Took 1463.9731650352478 seconds.
Wrote pickle ./pickles/tor/18_68000-72000_tor.pkl with 4000 rows
chunk 19 of 45 completed with IP 74.96.242.116. Took 1460.8954901695251 seconds.
Wrote pickle ./pickles/tor/19_72000-76000_tor.pkl with 4000 rows
chunk 20 of 45 completed with IP 185.220.101.34. Took 1445.2121679782867 seconds.
Wrote pickle ./pickles/tor/20_76000-80000_tor.pkl with 4000 rows
chunk 21 of 45 completed with IP 109.70.100.28. Took 1526.8988580703735 seconds.
Wrote pickle ./pickles/tor/21_80000-84000_tor.pkl with 4000 rows

chunk 22 of 45 completed with IP 128.14.136.158. Took 1148.6206541061401 seconds.
Wrote pickle ./pickles/tor/22_84000-88000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 23 of 45 completed with IP 185.220.101.70. Took 1039.8021278381348 seconds.
Wrote pickle ./pickles/tor/23_88000-92000_tor.pkl with 3999 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 24 of 45 completed with IP 85.248.227.165. Took 1097.7571249008179 seconds.
Wrote pickle ./pickles/tor/24_92000-96000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 25 of 45 completed with IP 185.220.101.31. Took 1056.691982269287 seconds.
Wrote pickle ./pickles/tor/25_96000-100000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 26 of 45 completed with IP 185.220.101.27. Took 1092.9946818351746 seconds.
Wrote pickle ./pickles/tor/26_100000-104000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0165264 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 27 of 45 completed with IP 171.25.193.78. Took 1151.3046641349792 seconds.
Wrote pickle ./pickles/tor/27_104000-108000_tor.pkl with 3999 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 28 of 45 completed with IP 185.220.101.30. Took 1126.0859410762787 seconds.
Wrote pickle ./pickles/tor/28_108000-112000_tor.pkl with 4001 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 29 of 45 completed with IP 104.244.72.115. Took 1162.6450488567352 seconds.
Wrote pickle ./pickles/tor/29_112000-116000_tor.pkl with 4000 rows
503 Server Error: Service Unavailable for url: https://www.imdb.com/title/tt0192185
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 30 of 45 completed with IP 157.157.87.22. Took 1078.911041021347 seconds.
Wrote pickle ./pickles/tor/30_116000-120000_tor.pkl with 4000 rows
Renewed IP 109.70.100.28 already used. Waiting 5s to renew...
Renewed IP 109.70.100.28 already used. Waiting 5s to renew...
https://www.imdb.com/title/tt0197708 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197851 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197811 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197784 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197884 generated an exception: SOCKSHTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt0197884/ (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')",),)). Added to retry list.
https://www.imdb.com/title/tt0197891 generated an exception: SOCKSHTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt0197891/ (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')",),)). Added to retry list.
https://www.imdb.com/title/tt0197896 generated an exception: SOCKSHTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt0197896/ (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')",),)). Added to retry list.
https://www.imdb.com/title/tt0197725 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197820 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197792 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197735 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197840 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197839 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197844 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197761 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197751 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197752 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197836 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197722 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197813 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197789 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197846 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197728 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197730 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197803 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197774 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197688 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197801 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197788 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197779 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197825 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197709 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197769 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197815 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197743 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197704 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.

https://www.imdb.com/title/tt0197799 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197806 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197762 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197802 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0197852 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 31 of 45 completed with IP 176.10.99.200. Took 1645.5838646888733 seconds.
Wrote pickle ./pickles/tor/31_120000-124000_tor.pkl with 3959 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 32 of 45 completed with IP 185.100.87.207. Took 1247.936032295227 seconds.
Wrote pickle ./pickles/tor/32_124000-128000_tor.pkl with 4041 rows
https://www.imdb.com/title/tt0220073 generated an exception: ('Connection aborted.', RemoteDisconnected('Remote end closed connection without response',)). Added to retry list.
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 33 of 45 completed with IP 130.185.250.76. Took 1250.9222331047058 seconds.
Wrote pickle ./pickles/tor/33_128000-132000_tor.pkl with 3999 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 34 of 45 completed with IP 185.220.100.253. Took 1242.3738219738007 seconds.
Wrote pickle ./pickles/tor/34_132000-136000_tor.pkl with 4001 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 35 of 45 completed with IP 81.17.27.138. Took 1111.8524680137634 seconds.
Wrote pickle ./pickles/tor/35_136000-140000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 36 of 45 completed with IP 162.247.74.7. Took 1127.581748008728 seconds.
Wrote pickle ./pickles/tor/36_140000-144000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 37 of 45 completed with IP 192.42.116.24. Took 1073.21892619133 seconds.
Wrote pickle ./pickles/tor/37_144000-148000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 38 of 45 completed with IP 109.70.100.29. Took 1075.882318019867 seconds.
Wrote pickle ./pickles/tor/38_148000-152000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 39 of 45 completed with IP 192.42.116.23. Took 1141.587005853653 seconds.
Wrote pickle ./pickles/tor/39_152000-156000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 40 of 45 completed with IP 185.220.100.255. Took 1122.4897611141205 seconds.
Wrote pickle ./pickles/tor/40_156000-160000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 41 of 45 completed with IP 104.244.79.222. Took 1135.3462419509888 seconds.
Wrote pickle ./pickles/tor/41_160000-164000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 42 of 45 completed with IP 109.70.100.25. Took 1092.068941116333 seconds.
Wrote pickle ./pickles/tor/42_164000-168000_tor.pkl with 4000 rows
Renewed IP 185.220.100.255 already used. Waiting 5s to renew...
Renewed IP 185.220.100.255 already used. Waiting 5s to renew...
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 43 of 45 completed with IP 51.83.76.139. Took 1090.376625776291 seconds.
Wrote pickle ./pickles/tor/43_168000-172000_tor.pkl with 4000 rows
https://www.imdb.com/title/tt0329695 generated an exception: SOCKSHTTPSConnectionPool(host='www.imdb.com', port=443): Max retries exceeded with url: /title/tt0329695 (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')",),)). Added to retry list.
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 44 of 45 completed with IP 199.249.230.69. Took 1064.181128025055 seconds.
Wrote pickle ./pickles/tor/44_172000-176000_tor.pkl with 3999 rows
https://www.imdb.com/title/tt0134036 generated an exception: list index out of range. Added to retry list.
chunk 45 of 45 completed with IP 185.220.102.7. Took 560.1188690662384 seconds.
Wrote pickle ./pickles/tor/45_176000-180000_tor.pkl with 2119 rows

In [8]:
# Combine the created pickles into one Dataframe

dir_path = "./pickles/tor"
# Ignore any sytem files starting with . or folders if any
pickles = [f for f in listdir(dir_path) if isfile(join(dir_path, f)) and not f.startswith('.')]
dfs = list(map(lambda x: pd.read_pickle("{0}/{1}".format(dir_path,x)), pickles))
combined_df = pd.concat(dfs)
combined_df.reset_index(drop=True, inplace=True)
combined_df.to_pickle("./pickles/complete_{0}.pkl".format(e_idx))
len(combined_df)
# with pd.option_context('display.max_rows', 50000, 'display.max_columns', 20):
#     display(combined_df)

178117

In [11]:
with pd.option_context('display.max_rows', 50000, 'display.max_columns', 20):
    display(combined_df[1217:1317])

,tconst,stars,oscarWins,nominations,wins,releaseDate,releaseCountry,plotKeywords,budget,worldwideGross,metascore,musicProducer
1217,tt0016177,"[nm0601962, nm0731054, nm0751510]",0,0,0,1925-03-15,USA,[],None,None,None,None
1218,tt0016082,"[nm0193793, nm0000795, nm0391924]",0,0,0,1925-09-20,USA,[],None,None,None,None
1219,tt0016083,"[nm0152260, nm0124877, nm0129896]",0,0,0,1925-10-11,USA,[],None,None,None,None
1220,tt0016088,"[nm0917467, nm0874781, nm0688480]",0,0,0,1926-02-26,Germany,[],None,None,None,None
1221,tt0016064,"[nm0255774, nm0672154, nm0069373]",0,0,0,1925-12-06,USA,[],None,None,None,None
1222,tt0016095,"[nm0896538, nm0002143, nm0733943]",0,0,0,1925-06-29,USA,[],None,None,None,None
1223,tt0016175,"[nm0576762, nm0497759, nm0163763]",0,0,0,1925-05-25,USA,[],None,None,None,None
1224,tt0016110,"[nm0122652, nm0507635, nm0186440]",0,0,0,1925-02-07,USA,[],None,None,None,None
1225,tt0016114,"[nm0199841, nm0292537, nm0533247]",0,0,0,1925-01-26,USA,[],None,None,None,None
1226,tt0016126,"[nm0585785, nm0675160, nm0389364]",0,0,0,1925-01-22,Germany,[],None,None,None,None
1227,tt0016155,"[nm3033210, nm0406716, nm3033367]",0,0,0,1925-11-13,Japan,[],None,None,None,None
1228,tt0016150,"[nm0829171, nm0529313, nm0330265]",0,0,0,1925-09-13,USA,[],None,None,None,None
1229,tt0016091,[],0,0,0,1925-05-06,Portugal,[],None,None,None,None
1230,tt0016119,"[nm0232249, nm2268837, nm0449391]",0,0,0,None,None,[],None,None,None,None
1231,tt0016180,"[nm0607273, nm0329432, nm1251720]",0,0,0,1925-10-14,USA,[],None,None,None,None
1232,tt0016142,"[nm0697800, nm0853604, nm0507568]",0,0,0,1925-09-27,USA,[],None,None,None,None
1233,tt0016072,"[nm0002503, nm0358697, nm0132955]",0,0,0,1925-12-13,USA,[],None,None,None,None
1234,tt0016160,"[nm0181033, nm0317715, nm0319942]",0,0,0,None,None,[],None,None,None,nm5834942
1235,tt0016080,[nm0933045],0,0,0,None,USA,[],None,None,None,None
1236,tt0016060,"[nm0656034, nm0874482, nm0195712]",0,0,0,None,Italy,[],None,None,None,None
1237,tt0016117,"[nm0911763, nm0931774, nm1067395]",0,0,0,1921-11-22,USA,[],None,None,None,None
1238,tt0016106,"[nm0484812, nm0222902, nm0692809]",0,0,0,1925-12-06,USA,[],None,None,None,None
1239,tt0016101,"[nm0145318, nm0221509, nm0874781]",0,0,0,1929-04-15,Portugal,[],None,None,None,nm0006278
1240,tt0016148,"[nm0528908, nm0199087, nm0562866]",0,0,0,1925-05-17,USA,[],None,None,None,None
1241,tt0016149,"[nm0124287, nm0523193, nm0180679]",0,0,0,1925-11-12,USA,[],None,None,None,None
1242,tt0016172,"[nm0219666, nm0000802, nm0363227]",0,0,0,1925-02-23,USA,[],None,None,None,None
1243,tt0016094,"[nm0522926, nm0001479, nm0586890]",0,0,0,1925-03-29,USA,[],None,None,None,None
1244,tt0016178,"[nm0401368, nm0910400, nm0330217]",0,0,0,1925-02-23,USA,[],None,None,None,None
1245,tt0016049,"[nm0688040, nm0699877, nm0464561]",0,0,0,1925-03-16,Soviet Union,[],None,None,None,None
1246,tt0016181,"[nm0528908, nm0632160, nm0205890]",0,0,0,1925-04-12,USA,[],None,None,None,None
1247,tt0016062,"[nm0203953, nm0001230, nm0007221]",0,0,0,1925-01-31,USA,[],None,None,None,None
1248,tt0016039,"[nm0000891, nm0522281, nm0400763]",0,2,0,1925-06-22,USA,[],None,"$2,834,000",None,nm0004592
1249,tt0016151,"[nm0358076, nm0522281, nm0369793]",0,0,0,1925-10-12,USA,[],None,None,None,None
1250,tt0016174,"[nm0001067, nm0001076, nm0203439]",0,0,0,1925-11-09,USA,[],None,None,None,None
1251,tt0016189,"[nm0781298, nm0372487, nm0908154]",0,0,0,1925-09-20,USA,[],None,None,None,None
1252,tt0016186,"[nm0129896, nm0292537, nm0941745]",0,0,0,1925-11-15,USA,[],None,None,None,None
1253,tt0016135,"[nm0511100, nm0272450, nm0204547]",0,0,0,1925-05-21,USA,[],None,None,None,None
1254,tt0016158,"[nm0139794, nm0764346, nm0330217]",0,0,0,1925-02-01,USA,[],None,None,None,None
1255,tt0016065,"[nm0841797, nm0236825, nm0211191]",0,0,0,1925-04-17,USA,[],"$700,000",None,None,nm0006252
1256,tt0016190,"[nm0391847, nm0221488, nm0569645]",0,0,0,None,USA,[],None,None,None,None
1257,tt0016112,"[nm0300388, nm0430345, nm0590557]",0,0,0,1927-08-22,USA,[],None,None,None,nm0006252
1258,tt0016182,"[nm0697800, nm0533108, nm0208659]",0,0,0,1925-03-15,USA,[],None,None,None,None
1259,tt0016152,"[nm0265490, nm0731054, nm0860430]",0,0,0,1925-09-01,USA,[],None,None,None,None
1260,tt0016196,"[nm0166948, nm0222736, nm0799239]",0,0,0,None,None,[],None,None,None,None
1261,tt0016184,"[nm0090187, nm0619261, nm0175067]",0,0,0,1925-11-22,USA,[],None,None,None,None
1262,tt0016109,"[nm0003895, nm0358697, nm0058191]",0,0,0,1925-10-04,USA,[],"$175,000",None,None,None
1263,tt0016195,"[nm0358567, nm0902226, nm0392059]",0,0,0,1925-09-16,USA,[],None,None,None,None
1264,tt0016144,"[nm1283995, nm0462069, nm1654497]",0,0,0,1925-04-02,Japan,[],None,None,None,None
1265,tt0016145,"[nm0595321, nm0544539, nm0176117]",0,0,0,1925-11-13,France,[],None,None,None,None
1266,tt0016123,"[nm0151606, nm0647481, nm0177599]",0,0,0,1925-03-16,USA,[],None,None,None,None
1267,tt0016193,"[nm0528908, nm0000802, nm0125775]",0,0,0,1925-10-18,USA,[],None,None,None,None
1268,tt0016185,"[nm0051765, nm0782837, nm0848426]",0,0,0,1925-11-20,Japan,[],None,None,None,None
1269,tt0016192,"[nm0570006, nm0096152, nm0482115]",0,0,0,1925-07-14,USA,[],None,None,None,None
1270,tt0016197,"[nm0521120, nm0010134, nm0209321]",0,0,0,1925-12-11,USA,[],None,None,None,None
1271,tt0016183,"[nm0507635, nm0372487, nm0291549]",0,0,0,None,USA,[],None,None,None,None
1272,tt0016200,"[nm0601698, nm0068705, nm0913341]",0,0,0,1925-01-20,USA,[],None,None,None,None
1273,tt0016198,"[nm0484812, nm0018273, nm0286594]",0,0,0,1925-02-01,USA,[],None,None,None,None
1274,tt0016187,"[nm1442720, nm0645436, nm4389505]",0,0,0,None,None,[],None,None,None,None
1275,tt0016210,"[nm0025753, nm0077209, nm0208212]",0,0,0,None,None,[],None,None,None,None
1276,tt0016202,"[nm0358567, nm0854414, nm0321934]",0,0,0,1925-09-27,USA,[],None,None,None,None
1277,tt0016203,"[nm0129896, nm0000252, nm0939706]",0,0,0,None,USA,[],None,None,None,None
1278,tt0016219,"[nm0272360, nm0238842, nm0776742]",0,0,0,1925-01-15,USA,[],None,None,None,None
1279,tt0016204,"[nm0063138, nm0562866, nm0307929]",0,0,0,1925-06-28,USA,[],None,None,None,None
1280,tt0016207,"[nm0050151, nm0504109, nm0570639]",0,0,0,None,USA,[],None,None,None,None
1281,tt0016199,[],0,0,0,1925-07-13,Portugal,[],None,None,None,None
1282,tt0016218,"[nm0788281, nm0124877, nm0201660]",0,0,0,None,USA,[],None,None,None,None
1283,tt0016208,"[nm0640606, nm0680376, nm0753415]",0,0,0,1925-11-16,USA,[],None,None,None,None
1284,tt0016205,"[nm0173993, nm0341586, nm0764346]",0,0,0,1925-06-29,USA,[],None,None,None,None
1285,tt0016211,"[nm0712776, nm0237571, nm0453059]",0,0,0,1925-04-05,USA,[],None,None,None,None
1286,tt0016206,"[nm0517574, nm0484812, nm0186440]",0,0,0,1925-10-18,USA,[],None,None,None,None
1287,tt0016231,"[nm0433952, nm0812345, nm10239829]",0,0,0,1925-11-16,Finland,[],None,None,None,None
1288,tt0016216,[],0,0,0,1925-07-27,Portugal,[],None,None,None,None
1289,tt0016213,"[nm0391847, nm0372487, nm0636076]",0,0,0,None,USA,[],None,None,None,None
1290,tt0016227,"[nm0589494, nm0712735, nm0783763]",0,0,0,1925-07-19,USA,[],None,None,None,None
1291,tt0016229,"[nm0723658, nm0111612, nm0903628]",0,0,0,1925-12-19,USA,[],None,None,None,None
1292,tt0016212,"[nm0783865, nm0696985, nm0245386]",0,0,0,1925-12-15,USA,[],None,None,None,None
1293,tt0016234,"[nm0535206, nm0234670, nm0147761]",0,0,0,1925-04-06,Sweden,[],None,None,None,None
1294,tt0016214,"[nm0095145, nm0703645, nm0610268]",0,0,0,1925-08-27,USA,[],None,None,None,None
1295,tt0016248,[],0,0,0,1925-10-30,USA,[],None,None,None,None
1296,tt0016239,"[nm0222902, nm0712660, nm0332998]",0,0,0,1925-02-23,USA,[],None,None,None,None
1297,tt0016238,"[nm0002503, nm0164583, nm0926103]",0,0,0,1925-10-11,USA,[],None,None,None,None
1298,tt0016224,"[nm0402824, nm0000909, nm0238532]",0,0,0,1925-12-13,USA,[],None,None,None,None
1299,tt0016233,"[nm0456804, nm0614234, nm0106785]",0,0,0,1925-08-28,USA,[],None,None,None,None
1300,tt0016260,"[nm0540575, nm0384420, nm0925750]",0,0,0,1925-09-19,USA,[],None,None,None,None
1301,tt0016284,"[nm0290066, nm0733943, nm0310980]",0,0,0,1926-11-07,USA,[],None,None,None,None
1302,tt0016209,"[nm0209323, nm0101071, nm0201660]",0,0,0,1925-11-01,USA,[],None,None,None,None
1303,tt0016259,"[nm0594291, nm0588235, nm0180465]",0,0,0,1925-05-24,USA,[],None,None,None,None
1304,tt0016237,"[nm0933045, nm0314138, nm0571186]",0,0,0,1925-05-01,USA,[],None,None,None,None
1305,tt0016241,"[nm0686032, nm0601962, nm0672154]",0,0,0,1925-09-06,USA,[],None,None,None,None
1306,tt0016289,"[nm0930711, nm0247496, nm0640606]",0,0,0,1925-09-09,USA,[],None,None,None,None
1307,tt0016279,"[nm0623417, nm0854414, nm0588033]",0,0,0,1925-01-25,USA,[],None,None,None,None
1308,tt0016201,"[nm0001966, nm0445229, nm0500361]",0,0,0,1925-08-01,USA,[],None,None,None,None
1309,tt0016228,"[nm0517574, nm0000802, nm0071602]",0,0,0,1925-04-30,USA,[],None,None,None,None
1310,tt0016220,"[nm0151606, nm0679907, nm0449908]",0,0,2,1925-11-15,USA,[],None,"$4,360,000",None,nm0106922
1311,tt0016240,"[nm0222489, nm0706795, nm0880329]",0,0,0,1928-05-11,USA,[],None,None,None,nm1773835
1312,tt0016253,"[nm0753724, nm0223616, nm0222170]",0,0,0,1924-01-18,France,[],None,None,None,None
1313,tt0016245,"[nm0531962, nm0001966, nm0696569]",0,0,0,1925-09-15,USA,[],None,None,None,None
1314,tt0016317,"[nm0134831, nm0940583, nm0111411]",0,0,0,1925-03-29,USA,[],None,None,None,None
1315,tt0016255,"[nm0166624, nm0682311, nm0624752]",0,0,0,1925-09-16,USA,[],None,None,None,None
1316,tt0016223,"[nm0725332, nm0250790, nm0459030]",0,0,0,1925-09-14,Finland,[],None,None,None,nm0005959

In [144]:
# test_ctr = {
#     "tconst": [],
#     "stars": [],
#     "oscarWins": [],
#     "nominations": [],
#     "wins": [],
#     "releaseDate": [],
#     "releaseCountry": [],
#     "plotKeywords": [],
#     "budget": [],
#     "worldwideGross": [],
#     "metascore": [],
#     "musicProducer": []
# }

# def tempfn(x):
#     for index, value in x.items():
#         test_ctr[index].append(value[0]) 

# test_df = part1.apply(tempfn, axis=1)

In [ ]:
# renew_connection()
# session = get_tor_session()
# print(session.get("http://httpbin.org/ip").text)